:root {
  --color-primary: hsl(143, 82%, 28%);
  --color-primary-lighten: hsla(142, 80%, 43%, 0.1);
  --color-primary-darker: hsl(142, 80%, 28%);
  --color-primary-bright: hsl(143, 82%, 38%);
  --color-light: hsl(0, 0%, 96%);
  --color-secondary: hsl(0, 5%, 21%);
}

$color-primary: hsl(143, 82%, 28%);
$color-primary-darker: darken($color-primary, 5%);
$color-primary-lighten: lighten($color-primary, 15%);
$color-body: hsl(0, 0%, 99%);
$color-primary-bright: hsl(143, 82%, 38%);


::selection {
  background-color: $color-primary;
  color: #fff;
}

.color-primary {
  color: var(--color-primary);

  &-bright {
    color: var(--color-primary-bright);
  }
}

html {
  background-color: $color-body;
}

.text-decoration-primary {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-bright);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .6);
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-bright);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
  background-color: var(--color-primary-lighten);
}

a {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 600;
  color: $color-primary;
  transition: all 0.3s ease-in;
}

 a:hover {
  color: $color-primary-lighten;
}